.containerMyStyle {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cardMyStyle {
    max-width: 500px;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
    box-shadow: 0px 2px 15px rgba(3, 116, 3, 0.651);
    background-color: rgba(22, 94, 4, 0.068);
}

.successAlertMyStyle {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}

.form-Mycontrol {
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color: rgb(1, 124, 11);
    padding: 10px;
    width: 100%;
    font-size: 14px;
    background-color: rgba(241, 248, 239, 0.267);
    transition: border-color 0.3s ease;

}

.form-Mycontrol:focus,
.content:focus-within .form-Mycontrol {
    outline: none;
    border-color: green;
    box-shadow: 0px 2px 10px rgba(1, 150, 1, 0.712);
}

.Mycontainer-div {
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(3, 116, 3, 0.651);
    border: 1px solid rgba(0, 128, 0, 0.418);
    padding: 20px;
    font-size: 14px;
    justify-content: center;
    margin: 0 auto;
    justify-content: center;
    overflow-x: auto;
}

.Mycontainer-div-insert {
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(3, 116, 3, 0.651);
    border: 1px solid rgba(0, 128, 0, 0.418);
    padding: 12px;
    justify-content: center;
    margin: 0 auto;
    justify-content: center;
    overflow-x: auto;
}

.StyleImg {
    max-width: 300px;
    width: 100%;
    height: auto;
    transition: width 0.3s ease;
}

@media (max-width: 768px) {
    .StyleImg {
        max-width: 150px;
        width: 100%;
        height: auto;
    }
}

.modalStyle {
    font-Size: 20px;
    font-Weight: bold;
    color: #009E50;
    margin-Left: 10px;
}

.btnCero {
    margin-top: 2px;
}

.pagination .previous,
.pagination .next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.pagination li {
    display: inline-block;
    margin: 0 4px; 
  }
  
  .pagination a {
    display: block;
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
  }
  
  .pagination .active a {
    background-color: #0355259c;
    color: #fff;
    border-color: #0355259c;
  }

  .audio-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    border: 1px solid #007bff; /* Color celeste */
    border-radius: 20px;
    background-color: transparent;
    color: #007bff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .audio-button:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #0056b3;
  }

  .centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }