.containerMyStyle {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cardMyStyle {
    max-width: 500px;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
    box-shadow: 0px 2px 15px rgba(3, 116, 3, 0.651);
    background-color: rgba(22, 94, 4, 0.068);
}

.successAlertMyStyle {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}

.form-Mycontrol {
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color: rgb(1, 124, 11);
    padding: 10px;
    width: 100%;
    font-size: 14px;
    background-color: rgba(241, 248, 239, 0.267);
    transition: border-color 0.3s ease;

}

.form-Mycontrol:focus,
.content:focus-within .form-Mycontrol {
    outline: none;
    border-color: green;
    box-shadow: 0px 2px 10px rgba(1, 150, 1, 0.712);
}

.Mycontainer-div {
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(3, 116, 3, 0.651);
    border: 1px solid rgba(0, 128, 0, 0.418);
    padding: 20px;
    font-size: 14px;
    justify-content: center;
    margin: 0 auto;
    justify-content: center;
    overflow-x: auto;
}
.Mycontainer-div-table {
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(3, 116, 3, 0.651);
  border: 1px solid rgba(0, 128, 0, 0.418);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  justify-content: center;
  margin: 0 auto;
  justify-content: center;
  overflow-x: auto;
}

.Mycontainer-div-list {
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(3, 116, 3, 0.651);
  border: 1px solid rgba(0, 128, 0, 0.418);
  font-size: 16px;
  font-weight: bold;
  color: #009E50;
}

.Mycontainer-div-insert {
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(3, 116, 3, 0.651);
    border: 1px solid rgba(0, 128, 0, 0.418);
    padding: 12px;
    justify-content: center;
    margin: 0 auto;
    justify-content: center;
    overflow-x: auto;
}

.StyleImg {
    max-width: 300px;
    width: 100%;
    height: auto;
    transition: width 0.3s ease;
}

.StyleImgC {
  max-width: 300px;
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: width 0.3s ease;
}

@media (max-width: 768px) {
    .StyleImg {
        max-width: 150px;
        width: 100%;
        height: auto;
    }
}

.StyleImg2 {
  max-width: 260px;
  width: 100%;
  height: auto;
  transition: width 0.3s ease;
}

@media (max-width: 768px) {
  .StyleImg {
      max-width: 130px;
      width: 100%;
      height: auto;
  }
}

.modalStyle {
    font-Size: 20px;
    font-Weight: bold;
    color: #070707;
    margin-Left: 10px;
}

.btnCero {
    margin-top: 2px;
}

.pagination .previous{
  width: 50%;
  justify-content: end;
  color: yellow;
  display: flex;
}
.pagination .next {
  display: flex;
  color: yellow;
  justify-content: start;
  width: 50%;
}
.pagination li {
    display: inline-block;
    color: yellow;
    margin: 0 1px; 
  }
  .pagination a {
    display: inline-flex;
    padding: 4px 8px;
    color: yellow;
    border: 1px solid #025A27;
    border-radius: 10px;
    background-color: #025a27da;
    font-size: 14px;
  }
  .pagination .active a {
    background-color: #CC9F2D;
    border-color: #f8f9fa;
  }

  .classButton {
    width: 150px;
    height: 40px;
    font-size: 16px;
    background-color: #018203;
    color: #ffffff;
    border: 1px solid #025A27;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .classButton:hover {
    background-color: #CC9F2D;
    color: #fafcfb;
    border-color: #f8f9fa;
  }

  .audio-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    border: 1px solid #025A27;
    border-radius: 20px;
    background-color: #025A27;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .audio-button:hover {
    background-color: #CC9F2D;
    color: #fafcfb;
    border-color: #f8f9fa;
  }
  @font-face {
    font-family: 'Open Dyslexic';
    src: url('./font/OpenDyslexicAlta-BoldItalic.ttf') format('truetype');
  }

  .linea-separador {
    border: 1px solid #025A27;
}

.classFooter{
text-align: center;
color: white;
background-color: #025A27;
}

.subrayado {
  text-decoration: underline;
}

.footerborder{
  padding: 0.5rem;
  border-top: 1px solid #01692cef;
}

.classNavbar{
  background-color: white;
  border-bottom: 2px solid #01692cef;
}

.borderNavbar{
border-bottom: 2px solid #01692cef;
}

.nav-linkS-desactivado {
  color: yellow;
  font-Weight: bold; 
  padding: 0.5rem 1rem;
  text-decoration: none; 
  display: flex;
  align-items: center;
}

.nav-linkS-desactivado:hover {
  color: #059742;
  text-decoration: none;
}

.nav-linkS {
  color: #059742;
  font-Weight: bold;
  padding: 0.5rem 1rem;
  text-decoration: none; 
  display: flex;
  align-items: center;
}

.nav-linkS:hover {
  color: #CC9F2D;
  text-decoration: none;
}

.colorYellow{
  color: yellow;
}

.colorblack{
  color:black;
}

.colorBlue{
  color:blue;
}

.colorGreen{
  color:green;
}

.StyleBotonAcces {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 9px; 
  bottom: 46px; 
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: #02682cb7;
  border-radius: 50%; 
  text-align: center; 
  line-height: 50px; 
  cursor: pointer; 
  z-index: 1000; 
  transition: all 300ms ease; 
  box-shadow: 0px 2px 5px rgba(3, 116, 3, 0.651);
  border: 1px solid rgba(0, 128, 0, 0.418);
}

.StyleBotonAcces:hover {
  background-color:  #025A27;
  transform: scale(1.1); 
}

.StyleBotonAtras {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 10px;
  top: 80px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: #005F1B;
  border-radius: 50%; 
  text-align: center; 
  line-height: 50px; 
  cursor: pointer; 
  z-index: 1000; 
  transition: all 300ms ease; 
  box-shadow: 0px 2px 5px rgba(3, 116, 3, 0.651);
  border: 1px solid rgba(0, 128, 0, 0.418);
}

.StyleBotonAtras:hover {
  background-color: #CC9F2D;
  color: #fafcfb;
  border-color: #f8f9fa;
}

.institution-info {
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid #E6AE2F; 
}


.institution-info a {
  text-decoration: none;
  margin: 5px;
  color: black;
  transition: color 0.3s;
  font-size: 12px;
}

.institution-info a:hover {
  color: #E6AE2F;
}

.input-with-icon {
  position: relative;
}

.input-with-icon input {
  padding-right: 40px;
}

.input-with-icon button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  color: grey;
  padding: 6px 10px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.cardMyStyleInfo {
  max-width: 500px;
  border-radius: 5px;
  padding: 20px;
  font-size: 14px;
  box-shadow: 0px 2px 15px rgba(4, 172, 4, 0.651);
  background-color: rgba(251, 252, 251, 0.068);
}
.lineaHorizontal {
  width: 100%;
  height: 2px;
  background-color: green;
  margin-bottom: 15px;
}